upstream-gap-*
*~
.#.*
*.o
*.lo
*.Plo
local
src/.deps
config.log
config.sh
config.status
config.h
libtool
autom4te.cache
compile
test/.deps
test/.libs
test/test
test/shell
test/error_handler
test/*.log
test/*.trs
test/tmp_file.txt
*Makefile
*~#
*\.rej#
stamp-h1
src/.libs
src/lib*.la
libgap-[0-9].[0-9].[0-9]*
